body{
  font-family: 'Fira Code', monospace;
}
header{
  background-color:rgb(253, 246, 235);
}
h1{
  font-size: 50PX;
  color: rgb(48, 29, 29);
}
h4{
  color: rgb(68, 45, 45);
  font-size: 30px;
}
.button{
  background-color: rgb(109, 141, 46);
  border: 0;
  border-radius: 4px;
  font-size: 30px;
}
.price{
  color: gold;
}
.logo img{
  height: 60px;
  width: 800px;
}
.top-banner{
  display: flex;
}
.half-width{
  width: 40%;
  
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img{
  width: 100%; 
  height: 100%;
}
.penguin{
  color: gold;
}
.season{
  color: rgb(66, 64, 64);
}
.penguin-card{
  border: 0;
}
.penguin-card-footer{
  background-color: white;
  border: 0;
}
.perfect {
 display: flex;
}